# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# setuptool files
*.egg-info/
*.egg
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env/

# virtual environment
venv/
kpu_venv/
wsl_venv/

# directories
build/
kpu_venv/
build_*/
.vs/
.vscode/
Testing/

# Test artifacts
*_test.csv
*_test.json
*_test.trace
